
  <div class="row">
    <div class="col-md-offset-1 col-md-9 col-md-push-2">
	  <h1>Welcome to Wikiful. Yet another Wiki :)</h1>
	  <h2>Recent Stuff</h2>
	  <% @recent_articles.each do |article| %>
	    <h3><%= link_to article.title, article %></h3>
	    <strong>Published:</strong> <em><%= article.created_at.strftime('%d, %b, %Y') %></em>&nbsp;&nbsp;&nbsp;
	    <strong>Category:</strong> <% article.categories.each do |category| %>
	                <em><%= link_to category.name, category %></em>&nbsp;
	              <% end %>
	      </br></br><p><%= truncate(article.content, length: 100) %></p></br>
	  <% end %>
    </div>
    <div class="col-md-2 col-md-pull-10 sidebar">
      <div class="categories-sidebar">
        <h4 align="center">Categories</h4>
  	    <div class="btn-group-vertical">
          <% @categories.each do |category| %>
            <%= link_to category.name, category, class: is_active?(category, "btn btn-default") %>
          <% end %>
          </div>
  	  </div>
    </div>
  </div>



